.modal {
  z-index: 1;
  position: fixed;
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  right: 0;
  background-color: #000000;
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 60%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
