.modal {
  z-index: 1;
  position: absolute;
  width: 400px;
  height: 100vh;
  right: 0;
  background-color: #000000;
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 60%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .modal {
    position: static;
    min-width: 400px;
  }

  .modal-overlay {
    width: 0;
    height: 0;
  }
}
