:root {
  --background-color: #121212;
  --text-color: #fafafa;
  --panel-color: #1f1f1f;
  --primary-color: #757575;
  --primary-hover: #616161;
  --font-family: "Inter", sans-serif;
  display: flex;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
  font-size: 2rem;
  transition: opacity 0.1s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

h1 {
  margin: 0;
  white-space: nowrap;
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: end;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem 3rem 2rem 2rem;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
    align-items: start;
    gap: 0px;
  }

  footer button {
    translate: -4px 8px;
  }
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
