#root {
  display: flex;
  min-height: 100vh;
  color: white;
  background-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.bg-gradient {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40vh;
  min-height: 240px;
  background: linear-gradient(to top, black, #00000095, #00000000);
}
