:root {
  --background-color: black;
  --text-color: white;
  --font-family: "Inter", sans-serif;
  display: flex;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
  font-size: 2rem;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 800;
  color: #747474;
  margin: 0;
}

h1 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
